.jumbotron-login {
  margin-bottom: 10px;
  height: 500px;
  color: cadetblue;
  text-shadow: black 0.3em 0.3em 0.3em;
  background-image: url('/static/images/lecture.jpg');
}

.no-border {
  border: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

#page-header {
  margin: 0;
  display: inline-block;
}

#show-dialog {
  margin-top: 20px;
}
#classList {
	text-align: center;
}

#logout {
  margin-top: 8px;
  margin-right: 2px;
}

#createclassname {
  border-bottom: none;
}

#questionsArea {
  text-indent:-62px;
  margin-top: 5px;
}

#questionEnter {
  width: 475px;
}

.live-view-panel {
  width: 80%;
  margin: 0 auto
}

.live-lecture-gauges {
  margin-top: 20px;
}

.live-lecture-top {
  margin-bottom: 5px;
}

.slider-header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slider-label-table {
  width: 80%;
  margin: 0 auto
}

.slider-table-left {
  width: 33%;
  text-align: left;
}

.slider-table-center {
  width: 33%;
  text-align: center;
}

.lecture-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.slider-table-right {
  width: 33%;
  text-align: right;
}

.polling-question-answer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.polling-questions-title {
  margin-top: 5px;
}

.live-lecture-header {
  padding: 0;
}

.live-lecture-title {
  margin-top: 0;
  margin-bottom: 0;
}

.live-lecture-container {
  margin-bottom: 5px;
}

.live-lecture-stop {
  text-align: right;
  padding-top: 10px;
}

.table-item {
  text-decoration: underline;
}