{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Class Mood</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a>Hi {{username}}!</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="panel panel-default" ng-controller="ClassListController as myCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
      Your Classes
      <button type="button" class="btn btn-primary pull-right" ng-click="myCtrl.addClass()">Add Class</button>
  </div>
  <div class="panel-body">
    
  </div>

  <!-- Table -->
  <table class="table">
      <tr>
        <th>Class</th>
        <th>Live Lecture</th>
        <th ng-hide="myCtrl.isStudent">Add Lecture</th>
      </tr>
      <tr ng-repeat="class in myCtrl.classes">
          <td>//class.className//</td>
          <td><button class="btn btn-default" ng-disabled="!class.is_live">Join/Rejoin</button></td>
          <td><button class="btn btn-primary" ng-click="myCtrl.addLecture()" ng-hide="myCtrl.isStudent" ng-disabled="class.is_live">Add Lecture</button></td>
      </tr>
  </table>
</div>
{% endblock %}
