{% extends "baseHomePage.html" %}
{% block newPage %}
<div class="panel panel-default" ng-controller="ClassListController as myCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
      Your Classes
      <button type="button" class="btn btn-primary pull-right" ng-click="myCtrl.addClass()" ng-hide="!myCtrl.isStudent">Join Class</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="myCtrl.createLecture()" ng-hide="myCtrl.isStudent">Create Class</button>
  </div>
  <div class="panel-body">
    
  </div>

  <!-- Table -->
  <table class="table">
      <tr>
        <th>Class</th>
        <th>Live Lecture</th>
      </tr>
      <tr ng-repeat="class in myCtrl.classes">
          <td><button class="btn btn-info" ng-click="myCtrl.getClassLectures(class.id)" ng-disabled="myCtrl.isStudent">//class.className//</button></td>
          <td><button class="btn btn-default" ng-click="myCtrl.joinLecture(class.liveLectureId)" ng-disabled="!class.is_live">Join</button></td>
          <div class="hover-btn" style="display: none">
            <td><button type="button" class="close" ng-click="myCtrl.deleteClass(class.id)"><span>×</span></button></td>
          </div>
          <!-- <td><button class="btn btn-primary" ng-click="myCtrl.addLecture(class.className)" ng-hide="myCtrl.isStudent" ng-disabled="class.is_live">Add Lecture</button></td> -->
      </tr>
  </table>
</div>
{% endblock %}