<!doctype html>
<html lang="en" ng-app="ClassMoodApp">
    <head>
        <meta charset="utf-8">
        <title>Class Mood</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='lib/angular/angular.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <script src="{{ url_for('static', filename='js/controllers.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.1.0.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    </head>
    <body>
        <div class=page>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>