{% extends "baseHomePage.html" %}
{% block newPage %}

<div class="panel panel-default container" ng-controller="LiveViewController as myCtrl">
    <!-- <div class="row" style="position: relative"> -->
    <div ng-init="myCtrl.init({{lecture_id}}, {{live_lecture_id}})"></div>
    <div class="row live-lecture-top">
        <div class="col-md-4 well">
            <div ng-hide="!myCtrl.isStudent">
                <h5 class="slider-header">Lecture Pace</h5>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" ng-click="myCtrl.votePace(-1)">
                        <input type="radio" name="options" id="pace1" autocomplete="off">Too Slow
                    </label>
                    <label class="btn btn-primary" ng-click="myCtrl.votePace(0)">
                        <input type="radio" name="options" id="pace2" autocomplete="off">Good
                    </label>
                    <label class="btn btn-primary" ng-click="myCtrl.votePace(1)">
                        <input type="radio" name="options" id="pace3" autocomplete="off">Too Fast
                    </label>
                </div>
                <h5 class="slider-header">Lecture Depth</h5>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" ng-click="myCtrl.voteDepth(-1)">
                        <input type="radio" name="options" id="depth1" autocomplete="off">Too Shallow
                    </label>
                    <label class="btn btn-primary" ng-click="myCtrl.voteDepth(0)">
                        <input type="radio" name="options" id="depth2" autocomplete="off">Good
                    </label>
                    <label class="btn btn-primary" ng-click="myCtrl.voteDepth(1)">
                        <input type="radio" name="options" id="depth3" autocomplete="off">Too In-Depth
                    </label>
                </div>
            </div>
            <div ng-hide="myCtrl.isStudent">
                <h5 class="slider-header">Lecture Pace</h5>
                <table class="slider-label-table">
                    <tr>
                        <td class="slider-table-left">Too Slow</td>
                        <td class="slider-table-center">Good</td>
                        <td class="slider-table-right">Too Fast</td>
                    </tr>
                </table>
                <input id="paceSlider" class="mdl-slider mdl-js-slider" type="range" min="-1" max="1" step="0.01" value="// myCtrl.gauge.pace_num //" disabled>
                <h5 class="slider-header">Lecture Depth</h5>
                <table class="slider-label-table">
                    <tr>
                        <td class="slider-table-left">Too Shallow</td>
                        <td class="slider-table-center">Good</td>
                        <td class="slider-table-right">Too In-Depth</td>
                    </tr>
                </table>
                <input id="depthSlider" class="mdl-slider mdl-js-slider" type="range" min="-1" max="1" step="0.01" value="// myCtrl.gauge.depth_num //" disabled>
            </div>
            <div align="center" style="padding-top:1em">
                <button class="btn btn-default" ng-click="myCtrl.resetGauges()" ng-hide="myCtrl.isStudent" ng-model="myCtrl.reset">Reset Gauges</button>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-hide="myCtrl.isStudent || myCtrl.pollingQuestions == null || myCtrl.pollingQuestions.length == 0">
                <h5 class="polling-questions-title">Polling Questions</h5>
                <hr>
                <span id="question-text"></span>
                <div class="polling-question-answer">
                    <label class="btn" id="a-question-button">A</label> <span id="a-text"></span>
                </div>
                <div class="polling-question-answer">
                    <label class="btn" id="b-question-button">B</label> <span id="b-text"></span>
                </div>
                <div class="polling-question-answer">
                    <label class="btn" id="c-question-button">C</label> <span id="c-text"></span>
                </div>
                <div class="polling-question-answer">
                    <label class="btn" id="d-question-button">D</label> <span id="d-text"></span>
                </div>
                <div>
                    <span id="question-pagination">
                    </span>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="myCtrl.previousPollingQuestion()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="myCtrl.nextPollingQuestion()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-success" ng-click="myCtrl.beginPresentingQuestion()" ng-hide="myCtrl.currentlyPresenting">Present Question</button>
                    <button type="button" class="btn btn-danger" ng-click="myCtrl.stopPresentingQuestion()" ng-hide="!myCtrl.currentlyPresenting">Stop Presenting</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <center>
            <textarea id="questionsArea" rows="6" cols="80" readonly>
                //myCtrl.questions.questions_string//
            </textarea>
            <div ng-show="myCtrl.isStudent">
                <form>
                    Enter a question:
                    <input type="text" ng-model="myCtrl.questionEntered" id="questionEnter">
                    <button ng-click="myCtrl.submitPressed()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
