{% extends "baseHomePage.html" %}
{% block newPage %}
<!-- UI for polling questions list -->
<div class="panel panel-default container no-border" ng-controller="PollingQuestionListController as ctrl">
  <div class="panel-heading clearfix">
      <h4 id="page-header">Polling Questions</h4>
      <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.loadAddPollingQuestionsPage()" style="margin-left:20px">Create Question</button>
      <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.goLive()">Go Live!</button>
  </div>
  <div class="panel-body no-padding">
      <table class="table table-striped no-margin">
          <tr>
            <th>Question</th>
            <th>Choice A</th>
            <th>Choice B</th>
            <th>Choice C</th>
            <th>Choice D</th>
            <th>Answer</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="question in ctrl.questions">
              <td>//question.text//</td>
              <td>//question.a_text//</td>
              <td>//question.b_text//</td>
              <td>//question.c_text//</td>
              <td>//question.d_text//</td>
              <td>//question.answer//</td>
              <div class="hover-btn" style="display: none">
                <td><button type="button" class="close" ng-click="ctrl.deletePollingQuestion(question.id)"><span>×</span></button></td>
              </div>
          </tr>
      </table>
  </div>
</div>
{% endblock %}
